#set($moduleName="")
#if(${table.module})
    ${moduleName}=.${table.module}
#end
#set($mapperClass="${table.className}Mapper")
#set($mapperName = $mapperClass.substring(0,1).toLowerCase() + $mapperClass.substring(1))
package ${context.basePackage}.service.impl${moduleName};


import com.cca.core.generator.supperClass.dao.BaseMapper;
import com.cca.core.generator.supperClass.service.AbstractService;
import ${context.basePackage}.mode.domain${moduleName}.${table.className};
import ${context.basePackage}.mode.query${moduleName}.${table.className}Query;
import ${context.basePackage}.service${moduleName}.${table.className}Service;
import ${context.basePackage}.dao${moduleName}.${mapperClass};
import org.springframework.stereotype.Service;

import javax.annotation.Resource;


/**
 * ${table.comment} service实现
 *
 * @author code-generator
 * @version 1.0
 * @date ${date}
 */
@Service
public class ${table.className}ServiceImpl extends AbstractService<${table.className}, ${table.className}Query> implements CategoryService {

    @Resource
    private ${mapperClass} ${mapperName};


    @Override
    protected BaseMapper<${table.className}, ${table.className}Query> getMapper() {
        return ${mapperName};
    }

}
