package ${context.basePackage}.mode.vo #if(${table.module}) .${table.module}#end;

import io.swagger.annotations.ApiModelProperty;
import lombok.Data;

import java.time.LocalDateTime;

#foreach($import in ${table.domainImports})
import $import;
#end

/**
 * ${table.comment} VO
 *
 * @author code-generator
 * @version 1.0
 * @date ${date}
 */
@Data
public class ${table.className}VO {

#foreach($column in ${table.columnList})
    @ApiModelProperty(value = "${column.comment}")
    private ${column.javaType} ${column.fieldName};

#end

}