<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="io.boncray.logback.normalLogMapper">


    <insert id="insert" parameterType="io.boncray.bean.mode.log.NormalLog">
        INSERT INTO
        local_log(id,log_type,parent_track_id,current_track_id,service_name,logger_name,level,message,log_time)
        VALUES(
        <trim suffixOverrides=",">
            #{id},
            #{logType},
            #{parentTrackId},
            #{currentTrackId},
            #{serviceName},
            #{loggerName},
            #{level},
            #{message},
            #{logTime},
        </trim>)
    </insert>

    <update id="updateLevel" parameterType="Map">
        UPDATE local_log
            SET level =#{level}
        WHERE
            log_type = "RPC_LOG"
            AND parent_track_id = #{parentTrackId}
            AND current_track_id = #{currentTrackId}
    </update>


</mapper>