<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="io.boncray.logback.rpcLogMapper">


    <insert id="insert" parameterType="io.boncray.bean.mode.log.RpcLog">
        INSERT INTO
        rpc_log(id,parent_track_id,current_track_id,service_name,method,request_path,request_param,response_data,elapsed_time,log_time)
        VALUES(
        <trim suffixOverrides=",">
            #{id},
            #{parentTrackId},
            #{currentTrackId},
            #{serviceName},
            #{method},
            #{requestPath},
            #{requestParam},
            #{responseData},
            #{elapsedTime},
            #{logTime}
        </trim>)
    </insert>


</mapper>