package ${context.basePackage}.mode.domain #if(${table.module}) .${table.module}#end;

import io.boncray.generate.supperClass.entity.BaseDO;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.EqualsAndHashCode;

#foreach($import in ${table.domainImports})
import $import;
#end

/**
 * ${table.comment}
 *
 * @author code-generator
 * @version 1.0
 * @date ${date}
 */
@Data
@EqualsAndHashCode(callSuper = true)
public class ${table.className} extends BaseDO {

#foreach($column in ${table.columnList})
#if(!$column.javaIgnore)
    @ApiModelProperty(value = "${column.comment}")
    private ${column.javaType} ${column.fieldName};

#end
#end

    @Override
    public Long getPrimaryKey() {
        return ${table.getPkColumn().fieldName};
    }

    @Override
    public void setPrimaryKey(Long pk) {
        this.${table.getPkColumn().fieldName} = pk;
    }
}