#set($moduleName="")
#if(${table.module})
    ${moduleName}=.${table.module}
#end
#set($serviceClass="${table.className}Service")
#set($serviceName = $serviceClass.substring(0,1).toLowerCase() + $serviceClass.substring(1))
#set($baseMapping = $table.className.substring(0,1).toLowerCase() + $table.className.substring(1))

package ${context.basePackage}.controller${moduleName};


import ${context.basePackage}.service${moduleName}.${serviceClass};
import io.boncray.web.generator.supperClass.service.BaseService;
import io.boncray.web.generator.supperClass.controller.BaseController;
import ${context.basePackage}.mode.domain${moduleName}.${table.className};
import ${context.basePackage}.mode.query${moduleName}.${table.className}Query;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.RestController;
import org.springframework.web.bind.annotation.RequestMapping;


/**
 * ${table.comment} 控制器
 *
 * @author code-generator
 * @version 1.0
 * @date ${date}
 */
@RestController
@RequestMapping("/${baseMapping}")
public class ${table.className}Controller extends BaseController<${table.className}, ${table.className}Query> {

    @Autowired
    private ${serviceClass} ${serviceName};

    @Override
    protected BaseService<${table.className}, ${table.className}Query> getService() {
        return ${serviceName};
    }


}
